<html>
  <head>
    <title>Edit</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/socket.io.slim.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script>
     $(function() {
   /*    var socket = io();

       socket.on('asd', function(msg) {
         console.log(msg);
       });
   */

      $('#edit').click(function(){
       var v = {
       id: $("#user_id").val(),
       pw: $("#pw").val(),
       name: $("#name").val(),
       age: $("#age").val(),
       phone: $("#phone").val(),
       experience: $("#experience").val(),
     }
     $.ajax({
         type: 'post',
         url: '/users/edit',
         data: v,
         success: function(data) {

           window.location.assign('/edit')
     },
         error: function(err) {
           console.log(err);
         }
       });

     })

     });
   </script>
    <body><nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/list">의뢰목록<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request">의뢰올리기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edit">개인정보 수정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">의뢰완료요청</a>
          </li>
          <li id="logout" class="nav-item">
            <a class="nav-link" href="#">logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id = "edit">

        <p>id: </p><input id = "user_id"  class="form-control" type="text" name="user_id" value= "<%=sess.name %>" <% if(sess.name!='root') { %> readonly <% } %> >
        <p>pw: </p><input id = "pw" type="password" class="form-control" name="password" value="<%=user_info[0].PW %>" >
        <p>name: </p><input id = "name" type="text" class="form-control" name="name" value="<%=user_info[0].Name %>" >
        <p>birth: </p><input id = "age" type="text" class="form-control" name="birth" value="<%=user_info[0].나이 %>" >
        <p>phone: </p><input id = "phone" type="text" class="form-control" name="phone" value="<%=user_info[0].핸드폰번호 %>" >
        <p>experience: </p><input id = "experience" type="text" class="form-control" name="experience" value="<%=user_info[0].개발경력 %>" >

        <div id = "edit" class="btn btn-primary">Submit Editted</div>
    </div>

    <form action="/img" method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="submit">
    </form>

  </body>
  <script>
     $('#logout').click(function(){
      
    $.ajax({
      type: 'post',
      url: '/users/logout',
      success: function(data) {
        window.location.assign('/about');
    },
        error: function(err) {
          console.log(err);
        }
      });
    });  
  </script>
</html>